.solve-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.form-container-solve{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(245, 242, 242);
    box-shadow: 2px 0px 2px 0px gainsboro;
    padding: 20px;
    border-radius: 10px;
    width: 50vw;
}
.inputs-container{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
@media (max-width: 930px){
    .inputs-container{
        flex-wrap: wrap;
    }
}
.input-box-container{
    
    margin-right: 20px;
    display: flex;
    flex-direction: column;
}
.label{
    font-family: sans-serif;
    color: gray;
}
.input-box-solve{
    font-family: sans-serif;
    padding-left: 10px;
    border: 1px solid gray;
    outline: none;
    border-radius: 5px;
    height: 35px;
    width: 100%;
}
.submit-btn-sol{
    background-color: rgb(79, 94, 232);
    width: 30%;
    border: 1px solid rgb(79, 94, 232);
    color: #fff;
    height: 30px;
    border-radius: 5px;
}
.answer{
    font-family: sans-serif;
    font-size: 20px;
    color: gray;
}
.sol{
    font-family: sans-serif;
    font-size: 20px;
    color: black;
}
.back-btn{
    background-color: rgb(79, 94, 232);
    border: 1px solid rgb(79, 94, 232);
    color: #fff;
    height: 30px;
    border-radius: 5px;
}
.heading{
    font-family: sans-serif;
    margin-bottom: 50px;
    color: rgb(79, 94, 232);
}
.guidelines-container{
    background-color: #fff;
    align-self: flex-end;
   
    margin-top: 10px;
    padding: 10px;
}
.notes{
    font-family: sans-serif;
    font-size: 10px;
}